<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div>
        <h2> <%= link_to "Wikinimous", articles_path %></h2>
      </div>
      <div>
        <h3> <%= link_to "New Article", new_article_path %></h3>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
